<div class="row justify-content-between pl-2 pr-2 pt-5 bg-dark mt-4" >

    <div  class="col-md-4">

        <p class="text-light">

            <a target="_blank" href="http://facebook.com/market">
                <img src="https://fr.facebookbrand.com/wp-content/uploads/2019/06/f_logo_RGB-Blue_512.png" width="35px" alt="" class="mr-2" style="border-radius: 50%">
            </a>
            <a target="_blank" href="http://twitter.com/market">

                <img src="https://iutv.univ-paris13.fr/wp-content/uploads/logo-rond-twitter.png" width="35px" alt="" style="border-radius: 50%">

            </a>

        </p>

    </div>


    <div class="col-md-2">

    <button class="btn btn-warning">  Nous Contacter   </button>

    </div>

    <div class="row col-md-12 justify-content-center">

        <p class="text-center text-light">
           ©COPYRIGHT 2020-Market

        </p>

    </div>

</div>