<div class="row justify-content-between bg-dark px-5 py-3 mt-4 " id="footer" >

    <div>
            <a target="_blank" href="#">
                <img src="https://fr.facebookbrand.com/wp-content/uploads/2019/06/f_logo_RGB-Blue_512.png" width="35px" alt="" class="mr-2" style="border-radius: 50%">
            </a>
            <a target="_blank" href="#">
                <img src="https://iutv.univ-paris13.fr/wp-content/uploads/logo-rond-twitter.png" width="35px" alt="" style="border-radius: 50%">
            </a>
    </div>

    <p class="text-center text-light">©COPYRIGHT2020 marchés d'à côté</p>

    <p >
        <a href="{{ path('about') }}" class="btn yellow-bg"> Nous contacter </a>
    </p>





</div>