<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#297373">
    <a class="navbar-brand" href="#"><img src="https://www.destination-vendeegrandlittoral.com/wp-content/uploads/2018/03/Panier-de-march%C3%A9-Cr%C3%A9dit-dessin-%C2%A9-MARCELINE-Communication.jpg" alt="" width="70px" height="70px" style="border-radius: 50%" > </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href="{{ path('markets') }}" class="btn btn-light border mr-4"> Trouver un marché     </a>

            <a href="{{ path('login') }}" class="btn btn-warning mr-5 ">  Se connecter    </a>
        </form>
    </div>
</nav>