{% extends 'pages/public/base.html.twig' %}
{% block title %}
About
{% endblock %}

{% block body %}
    <p class="titles prata mt-5">Qui sommes-nous</p>
    <div class="row p-4 justify-content-around">

        <div class="col-md-6 ">
            <p class="justifyText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a viverra mi. Duis sed dolor turpis. Sed vitae lorem consectetur nisi elementum suscipit ut at lectus. Nam aliquet pretium est, a porta mi. Ut vel mi magna. Duis egestas faucibus vulputate. Maecenas dignissim nibh eu turpis pharetra, et tincidunt lectus auctor. Nulla eu ultrices dolor, quis sagittis lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed fermentum.
            </p>
        </div>


        <div class="col-md-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Market_food_-_Kunming%2C_Yunnan_-_DSC03404.JPG" class="rounded" width="350px" >
        </div>

        <div class="col-md-12 mt-5">
            <p class="justifyText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a viverra mi. Duis sed dolor turpis. Sed vitae lorem consectetur nisi elementum suscipit ut at lectus. Nam aliquet pretium est, a porta mi. Ut vel mi magna. Duis egestas faucibus vulputate. Maecenas dignissim nibh eu turpis pharetra, et tincidunt lectus auctor. Nulla eu ultrices dolor, quis sagittis lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed fermentum maximus
            </p>

            <p class="justifyText">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

        </div>

        <p class="col-md-12 titles mt-5">Nous contacter</p>
    </div>

    <div >
            {{ form(contactForm) }}
    </div>

{% endblock %}


