{% extends 'pages/public/base.html.twig' %}
{% block title %}
About
{% endblock %}

{% block body %}

    <div class="row p-4">

        <div class="col-md-6">
        <h2>

            Qui sommes-nous ?


        </h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a viverra mi. Duis sed dolor turpis. Sed vitae lorem consectetur nisi elementum suscipit ut at lectus. Nam aliquet pretium est, a porta mi. Ut vel mi magna. Duis egestas faucibus vulputate. Maecenas dignissim nibh eu turpis pharetra, et tincidunt lectus auctor. Nulla eu ultrices dolor, quis sagittis lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed fermentum.

            </p>

        </div>


        <div class="col-md-4">

            <img src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Market_food_-_Kunming%2C_Yunnan_-_DSC03404.JPG" alt="" width="400px" >

        </div>

        <div class="col-md-12 mt-4">

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a viverra mi. Duis sed dolor turpis. Sed vitae lorem consectetur nisi elementum suscipit ut at lectus. Nam aliquet pretium est, a porta mi. Ut vel mi magna. Duis egestas faucibus vulputate. Maecenas dignissim nibh eu turpis pharetra, et tincidunt lectus auctor. Nulla eu ultrices dolor, quis sagittis lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed fermentum maximus

            </p>

        </div>

        <H2 class="col-md-12">
           Nous contacter

        </H2>
    </div>

    <div class="row col-md-12 justify-content-center">

        <div class="col-md-6">
            {{ form(contactForm) }}

        </div>
    </div>

{% endblock %}


