{% extends 'pages/public/base.html.twig' %}
{% block title %}

{% endblock %}


{% block body %}
    <p>markets</p>

    {{ form(searchMarketForm) }}

    {% for market in markets %}

        <p>Nom: {{ market.name }}</p>

    {% endfor %}

{% endblock %}