{% extends 'pages/public/base.html.twig' %}

{% block body %}

    <p class="prata titles mt-5" style="color: black">Ajouter un {{ name }}</p>

    <div class="mt-4 ">
        {{ form(form) }}
    </div>

{% endblock %}