{% extends 'pages/public/base.html.twig' %}

{% block body %}
    <h2 class="text-center" style="color: black">Formulaire de {{ name }}</h2>

    <div class="container-fluid formNewMarket rounded">
        {{ form(form) }}
    </div>
{% endblock %}



