<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>


<body>
<div class="container-fluid">
    <div class="vh-100 w-100 d-flex ">

        <!-- side bar -->
        <div class="col-2 text-light" style="background-color:#395C6B;">
            {% include 'pages/admin/components/sidebar.html.twig' %}
        </div>

        <!-- content part -->
        <div class="col-10 " style="background-color: #F8F8F8;">
            <div class="row mt-3 ml-3">
                <div class="btn btn-warning p-2 px-5 mr-3"> <a href="{{ path('adminShowMarkets') }}" class="text-dark">Marchés</a> </div>
                <div class="btn btn-warning p-2 px-5 mr-3"> <a href="{{ path('adminShowUsers') }}" class="text-dark">Utilisateurs</a></div>
                <div class="btn btn-warning p-2 px-5"> <a href="{{ path('adminShowMessages') }}" class="text-dark">Messages</a></div>
            </div>
            {% block body %} {% endblock %}
        </div>

    </div>


    {% block javascripts %}{% endblock %}

</div>
</body>
</html>